:root{
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --light-grayish-blue: hsl(240, 5%, 91%);
}
html{
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue));
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main{
  max-width: 420px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.4rem;
  padding-top: 0;
  background-color: white;
  border-radius: 1.4rem;
  box-shadow: 0px 15px 45px var(--very-dark-grayish-blue);
}
main figcaption{
  padding: 7%;
  padding-right: 8%;
  margin-top: -46%;
}
main figcaption .bgIllustration{
  transform: translateY(-74%);
  width: 100%;
}
.illustrationDesktop{
  display: none;
}
.illustrationBox{
  display: none;
}
main figcaption .bgIllustrationDesktop{
  display: none;
}
main h1{
  margin-top: 11px;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
main .question{
  margin-top: -30%;
  font-size: .9rem;
  color: var(--very-dark-desaturated-blue);
  padding-bottom: .4rem;
}
label{
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .7rem;
  font-size: .82rem;
}
label:hover{
  color: var(--soft-red);
}

img{
  transition: transform .3s ease-in-out;
}
.arrow{
  width: 10px;
}
p{
  padding-top: .4rem;
  font-size: .75rem;
  line-height: 1.5;
  width: 90%;
  display: flex;
  opacity: 0;
  overflow: hidden;
  height: 0;
  margin: 0;
  color: var(--dark-grayish-blue);
}
hr{
  margin-top: 0px;
  margin-bottom: 1rem;
  border: solid 1px var(--light-grayish-blue);
  border-bottom: 0;
}
input:checked+label[for='questionOne'] img,
input:checked+label[for='questionTwo'] img,
input:checked+label[for='questionThree'] img,
input:checked+label[for='questionFour'] img,
input:checked+label[for='questionFive'] img{
  transition: transform .3s ease-in-out;
  transform: rotate(180deg);
}
input:checked ~ label[for='questionOne'],
input:checked+label[for='questionTwo'],
input:checked+label[for='questionThree'],
input:checked+label[for='questionFour'],
input:checked+label[for='questionFive']{
  font-weight: 700;
}
#questionOne:checked ~ .answerOne,
#questionTwo:checked ~ .answerTwo,
#questionThree:checked ~ .answerThree,
#questionFour:checked ~ .answerFour,
#questionFive:checked ~ .answerFive{
  overflow: hidden;
  margin-top: 0;
  transition: height .3s ease-in-out;
  animation: pagraph .2s both ease-in-out
}
@keyframes pagraph {
  0%{
    padding: 0;
    height: 0;
    opacity: 0;
  }
  100%{
    padding-top: 0;
    padding-bottom: 1.2rem;
    height: 100%;
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  main {
    padding-right: 8.5rem;
    padding-left: 0;
    max-width: 784px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-position: -576px -295px;
    background-repeat: no-repeat;
  }
  main figcaption {
    width: 135%;
    position: relative;
    padding: 0;
    padding-right: 0;
    margin-top: 0;
    padding-top: 3.4rem;
    padding-bottom: 4.4rem;
    background-image: url('./images/illustration-woman-online-desktop.svg');
    background-position: -84px 58px;
    background-repeat: no-repeat;
  }
  .illustration{
    display: none;
  }
  .illustrationDesktop{
    opacity: 0;
  }
  .illustrationDesktop, .illustrationBox{
    display: block;
  }
  main figcaption .bgIllustration{
    display: none;
  }
  .illustrationBox{
    z-index: 100;
    position: absolute;
    top: 192px;
    left: -93px;
    filter: drop-shadow(-1px 4px 4px var(--very-dark-desaturated-blue));
    animation: box 2s ease-in-out infinite;
  }
  @keyframes box {
    0%, 100%{left: -93px;}
    50%{left: -123px;}
    
  }
  main h1{
    padding-top: 3.4rem;
    margin-top: 8px;
    margin-bottom: 37px;
    text-align: start;
  }
  main .question{
    padding: 0;
    margin-top: 0;
    max-width: 320px;
    padding-bottom: 4.4rem;
  }
  label{
    width: 108%;
    font-size: .89rem;
  }
  p{
    padding-top: 5px;
    width: 110%
  }
  hr{
    width: 110%;
    margin-bottom: 15px;
  }

}